body {
  background: #979DB9 !important;
}

/*ul {
  color: white;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}*/
/*make a game called RLTAG!!!! what happens is you buy a bunch of stickers, and give each their own ID. On the web app, you have to find as many stickers as you can and you get points. It'll start in NY. There will be a ranking system. The top user at the end of the month gets a HUGE prize. Maybe a prepaid debit card with 1000 bucks :) Clues will be in my vlogs for high pointer stickers.*/
